<style>
    .button-container .custom-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 1rem 2rem;
        background-color: #0E88AD;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-family: "Helvetica Neue" Arial, Helvetica, sans-serif;
    }

    .button-container .custom-button.login {
        padding: 1rem 7rem;
    }
</style>
<div class="button-container">
    <button class="custom-button login">تسجيل الدخول</button>
</div>