.appointments-page{

}
    .appointments-page > header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
        width:100%;
    }
        .appointments-page > header > div {
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.1s ease-in-out;
            border: 1px solid #0E88AD;
        }

            .appointments-page > header > div.active {
                border-bottom: none;
                opacity: 0.7;
            }

.appointments-table-as-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    text-align: center;
}

    .appointments-table-as-grid header {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1%;
        background-color: #0E88AD;
        color: #ffffff;
    }

        .appointments-table-as-grid header > * {
            padding: 0.5rem;
        }

    .appointments-table-as-grid main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 0.5rem;
    }

        .appointments-table-as-grid main .row {
            display: -ms-grid;
            display: grid;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            grid-template-columns: repeat(4, 1fr);
            gap: 1%;
            border: 1px solid #0E88AD;
        }

            .appointments-table-as-grid main .row > * {
                padding: 0.6rem;
            }

            .appointments-table-as-grid main .row .type {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                gap: 0.7rem;
            }

                .appointments-table-as-grid main .row .type .show-details-icon {
                    margin-left: 0.5rem;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    cursor: pointer;
                }

                .appointments-table-as-grid main .row .type .icon {
                    width: 20px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    cursor: pointer;
                }

                    .appointments-table-as-grid main .row .type .icon img {
                        width: 100%;
                    }

            .appointments-table-as-grid main .row .date {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
            }

                .appointments-table-as-grid main .row .date .time {
                    color: #007AFF;
                    text-decoration: underline;
                    font-weight: bold;
                    letter-spacing: 1px;
                }

                .appointments-table-as-grid main .row .date .day {
                    font-size: 12px;
                    color: #9A9EA5;
                }

            .appointments-table-as-grid main .row .name-info {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: start;
            }

                .appointments-table-as-grid main .row .name-info .name {
                    font-weight: bold;
                }

                .appointments-table-as-grid main .row .name-info .age {
                    color: #9A9EA5;
                    font-size: 12px;
                }
