@using HSS.Domain
@{
    Layout = "_Layout";
}

<header class="main-page-header">
    <div class="profile-preview">
        <div class="image-circle">
            <img src="" alt="">
        </div>
        <div class="content">
            @if (User.IsInRole(RolesConstants.Receptionist))
            {
                <p class="title">موظف</p>
            }
            <span class="slash">/</span>
            <p class="name">@User.Identity.Name</p>
        </div>
    </div>
    <img class="logo" src="/images/logo.png" alt="Alternate Text" />

</header>
<main class="main-container">
    @RenderBody()
</main>

@await RenderSectionAsync("Scripts", required: false)